body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-title {
  margin-bottom: 30px;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-button {
  margin-bottom: 30px !important;
}

.card-wrapper {
  text-decoration: none;
}

.news-page {
  margin: 0 40px;
}

.news-header_container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  /* justify-content: space-between; */
}

.news-header_link {
  margin-left: 30px !important;
}

.news-descrition_container {
  display: flex;
  align-items: baseline;
}

.news-descrition_element {
  margin: 10px 15px 10px 0;
  line-height: 0px;
}

.news-header_title {
  line-height: 0px;
}

.return-button {
  margin-left: 30px !important;
}

.news-header_container .MuiButton-root {
  margin-left: 50px;
}

#nested-list-subheader {
  font-size: 30px;
}

.no-comments {
  margin-left: 18px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.nested-list_nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}